$color-primary: #0C8EFF !default;
$color-primary-dark: #0070D2 !default;
$color-accent: #F88962 !default;
$color-accent-dark: $palette-deep-orange-700 !default;
$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default;
